MONGO_URL=mongodb+srv://...
SECRET_KEY=cambia_con_stringa_casuale_lunga
GOOGLE_CLIENT_ID=331601681077-aro0pl70rli1vudj7fqhaco3t79ngbnb.apps.googleusercontent.com
SHEET_CSV_URL=https://docs.google.com/spreadsheets/d/.../export?format=csv
